<ion-header>
    <ion-toolbar color="success">
      
          <ion-button fill="outline" color="success" slot="start" (click)="cerrar()" >
              <ion-icon slot="icon-only" color="light" name="undo" ></ion-icon>
            </ion-button>
        <ion-title style="text-align: start">Mis Comentarios</ion-title>
      
   
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-infinite-scroll #infiniteScroll threshold="10px" >
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar" refreshingSpinner="crescent"
              refreshingText="Cargando...">
            </ion-refresher-content>
          </ion-refresher>
    <ion-list #dynamicList id="dynamicList" >
        <ion-card *ngFor="let item of listaComentariosPane;let i = index" >
          <ion-card-header>
      
              <ion-card-title>{{item.nombre}}</ion-card-title>
            </ion-card-header>
            <ion-card-content style="font-size: 30px">
                {{item.comentario}}
               </ion-card-content>
               <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="borrarNota(item.id)">
                  
                      <ion-icon name="trash"></ion-icon>
                  
                </ion-fab>
                <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="crudComentario(item.id,item.comentario,item.nombre,item.usuario)">
                  
                  <ion-icon name="create"></ion-icon>
              
            </ion-fab>
        </ion-card>

      </ion-list>
    </ion-infinite-scroll>
</ion-content>


